<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Para darle permisos de internet a la aplicación -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- permisos para la camara -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!--permisos de internet de ubicacion-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectApp"
        tools:targetApi="31">

        <!--path para cachear los mapas-->
        <meta-data android:name="org.osmdroid.config"
            android:value="org.osmdroid.config.Configuration"/>

        <!-- para que solo ande con los dispositivos compatibles-->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".HelloArActivity"
            android:exported="true"
            android:label="AR Activity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProyectApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>